 a{
	
	text-decoration: none;
	 color:blueviolet;
	 font-size: 27px;
	 text-align:center;
	 width: 100px;
}

.claudya{
 background-color:moccasin;
}
	font-size:68px;
}

.room{
font-text: 23px;
	
}

.tahap{
	text-align-last: left;
	
}